body {
    margin: 1em;
    padding: 0;
    background: url(pexels-cottonbro-studio-5082554.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  header {
    display: flex;
    text-align: center;
    padding: 20px;
    height: 100vh; 
    box-sizing: border-box; 
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    margin-bottom: 10px;
    font-size: 4em;
    color: #006eff;
    font-weight: bold;
    text-decoration: underline;

  }
  
  h2 {
    font-size: 2em;
    margin-top: 0;
    color: #050301;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 0;
    font-size: 1.7em;
    color: #111761;
    font-style: italic;
    text-transform: uppercase;
  }
  